<!-- =========================
     Javascript Files: Vendors
========================= -->
<script src="https://unpkg.com/jquery@3.6.1/dist/jquery.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>
<script src="https://unpkg.com/isotope-packery@2.0.1/packery-mode.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5.0.0/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- =========================
     Controllers
========================= -->
<script src="assets/controller/project-2.js"></script>
<script src="assets/controller/wave-bsb.js"></script>

<!-- =========================
     DataTables (LOAD ONCE ONLY)
========================= -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<!-- =========================
     Page-specific JS
========================= -->
<script src="assets/js/publications.js"></script>
<script src="assets/js/students.js"></script>


